.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    to right,
    #011520,
    #011520da,
    #011520ad,
    #01152086
  );
  background: linear-gradient(to right, #010220 60%, #0b367fa7 100%);
  background-size: cover;
  background-position: center;
  /* transform: rotate(-3deg); */
  height: 100vh;
  width: 94%;
  margin-left: 55px;
  border-radius: 30px 2px;
  margin-bottom: 3rem;
  padding-top: 3.8rem;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/ai1.jpg");
  opacity: 0.35;
  background-size: cover;
  background-position: center;
  border-radius: 30px 2px;
  z-index: -1;
}

.presentacion {
  padding-left: 4rem;
  padding-right: -8rem;
  margin-bottom: 3rem !important;
  /* background-color:  greenyellow; */
}
.mi_nombre {
  font-size: 3rem;
  color: var(--white);
  font-weight: 300;
  letter-spacing: 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.letters_s {
  /* transform: rotate(3deg); */
  margin-left: 2.5rem;
}
.letters {
  /* transform: rotate(3deg); */
  margin-left: 2rem;
}

.skill {
  font-size: 1.5rem;
  color: var(--color1);
  font-weight: 400;
  padding: 1rem;
}

/* -------------------          Subtitulos en Hero section        ------------------------ */
.hablity_agriculturalengineer {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.412) 10%, #0102205f 60%, #010220 100%);
  color: #010220;

  margin-left: 1rem;
  padding-left: 14vw;
  margin-right: -1vw;
  border-radius: 30px 2px;
}

.hablity_ai_agent_creator {
  margin: 20px 0;
  background-size: cover;
  background-position: center;
  margin-right: 2rem;
  margin-left: 3rem;
  padding-left: 15vw;
  border-radius: 2px 30px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.534);
}

.hablity_web_developer {
  margin-left: -1rem;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.477), #05002ce4);
  box-shadow: 0 4px 8px rgba(242, 243, 249, 0.5);
  padding-left: 24vw;
  border-radius: 30px 2px;
  color: #010220;
}

/* Estilos responsivos */
@media (width <= 768px) {
  .mi_nombre {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
  .hero {
    height: fit-content;
    padding-bottom: 25vh;
  }

  .presentacion {
    font-size: 2.5rem;
    padding-left: 30px;
  }

  .mi_nombre {
    font-size: 2rem;
  }

  .skill {
    font-size: 1.2rem;
    color: var(--color1);
    font-weight: 400;
    padding: 1rem;
  }
}
