.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, var(--color1), #fdfffd); 
  transform: rotate(-6deg); 
  height: 100vh;
  width: 90%;
  margin-left: 55px;
  border-radius: 30px 2px;
  margin-bottom: 3rem;
  padding-top: 3.8rem;
}

.presentacion {
  padding-left: 4rem;
  padding-right: -8rem;
  margin-bottom: 3rem !important;
  /* background-color:  greenyellow; */
  

}

.mi_nombre {
  font-size: 2.2rem; 
  color:var(--white);
  font-weight: 200;
  letter-spacing: 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* background-color: aquamarine; */
}

.letters_s{
    transform: rotate(6deg); 
    margin-left: 2.5rem;
    /* margin-bottom: 1rem; */
    /* background-color: aquamarine; */
}

.letters{
  transform: rotate(6deg); 
  margin-left: 2rem;
    /* margin-bottom: 1rem; */

  /* background-color: aquamarine; */
}

.hablity_agriculturalengineer {
  /* transform: rotate(-6deg);  */
  font-size: 1.5rem; 
  /* margin-top: -30rem; */
  /* background: linear-gradient(to right, #055237, #01263ab3);  */
  background: linear-gradient(to right,  var(--white), #0f4300f1); 
  margin-left: 1rem;
 
  padding: 15px;
  color:var(--color1);
  padding-left: 14vw;
  margin-right: -1vw;
  border-radius: 30px 2px;
  font-weight: 200;
 
}

.hablity_ai_agent_creator {
  /* transform: rotate(-6deg);  */
  font-size: 1.5rem; /* Tamaño de letra para habilidades */
  margin: 20px 0; 
  background: linear-gradient(to right, var(--white), var(--color1)); 
  margin-right: 2rem;
  margin-left: 3rem;

  padding: 15px;
  color:var(--color1);
  padding-left: 15vw;
  border-radius:  2px 30px;
  font-weight: 200;

}

.hablity_web_developer{
    margin-left: -1rem;
  font-size: 1.5rem; 
  background: linear-gradient(to right,  var(--color2) ,#01293f); 


  padding: 15px;
  color:var(--white);
  padding-left: 24vw;
  border-radius: 30px 2px;
  font-weight: 200;



}

/* Estilos responsivos */
@media (max-width: 768px) {
  .mi_nombre {
    padding-top: 4rem;
    /* padding-bottom: 3rem; */
  }

  .presentacion {
    font-size: 2.5rem; /* Tamaño de letra para el nombre en móviles */
  }

  .mi_nombre {
    font-size: 2rem; /* Tamaño de letra para el nombre en móviles */
  }

  .hablity_agriculturalengineer,
  .hablity_ai_agent_creator,
  .hablity_ {
    font-size: 1.4rem; /* Tamaño de letra para habilidades en móviles */
  }
}

/* .sebas_picture{
    display: flex;
    margin-top: 7rem;
    justify-content: center;
}

.personalPresentation {
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
  } */