.seccciones{
    transform: rotate(-4deg); 
    font-size: 3rem; 
    background: linear-gradient(to right, var(--color1),  var(--color4)); 
    color: var(--white);
    border-radius: 10px;
    padding: 35px;
    padding-left: 45px;
    padding-top: 7rem;
    border-radius: 30px 2px;
    height: fit-content;
    margin-bottom: 5rem;
    align-content: center;
    line-height: 4rem;
    font-weight: 200;
    letter-spacing: 0.2rem;
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
}

.section3 {
  color: white;
  margin-top: 150px;
  /* background-color: var(--color3); */
}

p {
  font-size: 20px !important;
}

@media (max-width: 768px) {
  .expertiseFlexContainer {
    justify-content: center;
  }
  .expertiseFlexItems {
    width: 100%;
    justify-content: center;
  }
}

.expertiseFlexItems {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  /* background-color: antiquewhite; */
}

.h4_boton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
}
.uno {
  /* background-color: rgba(0, 255, 255, 0.263); */
}
.dos {
  /* background-color: rgba(0, 255, 255, 0.263); */
}

.list_title_div {
  color: var(--white);
  padding-left: 3rem;
  padding-right: 5rem;
  margin-top: 10px;
  background: linear-gradient(to right, var(--color1), var(--color4));
  font-size: 24px;
  /* font-weight: 500 !important; */
  line-height: 130%;
  margin-bottom: 70px;
  border: var(--white) 1px solid;
  border-radius: 2px 30px;
  flex-grow: 1;
}
.list_title_div h4{
  font-weight: 300 ;


}

.content_sub_container {
  margin-bottom: 75px;
}

.expertiseFlexItems p {
  font-size: 20px;
  line-height: 140%;
  color: var(--color1);
  letter-spacing: 1.5px;
  /* background-color: var(--color2); */
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 552px) {
  .expertiseFlexItems {
    width: 100%;
  }
}
@media (width <= 450px) {
  .rotacion {
    opacity: 1 !important;
    animation: none !important;
    animation-timeline: none !important;
  }
}

.impar {
  margin-top: 5vw;
}

/* -------------      efecto rotacion      ---------- */

.rotacion {
  display: flex;
  opacity: 0;
  animation: rotate-in 2s ease-in forwards;
  animation-timeline: view();
}
@keyframes rotate-in {
  0% {
    opacity: 0.4;
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(0deg);
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

/* -------------      efecto rotacion FIN      ---------- */

/* -------------      efecto expancion container      ---------- */

.content {
  /* Base styles */
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.collapsed {
  max-height: 0;
  opacity: 0;
  padding: 0;
}

.expanded {
  max-height: 500px; /* Ajusta según tu contenido */
  opacity: 1;
  padding: 1rem 0;
}

.expandir {
  padding: 10px;
  margin-top: 8px;
  height: 16px;
  rotate: -90deg;
}
.contraer {
  padding: 10px;
  margin-top: 8px;
  height: 16px;
}
.cursor-pointer {
  cursor: pointer;
}
