.helloText {
  font-size: 20px !important;
  line-height: 50px !important;
  /* letter-spacing: 1px; */
  color: var(--color1);
  margin-top: 50px;
  margin-bottom: 50px;
}

.personalPresentation {
  margin-top: 20rem;
  margin-bottom: 20rem;
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
}

.textPersonalSection {
  width: 80%;
  text-align: center;
  /* color: var(--white); */
}

.profilePicture {
  margin-top: 1rem;
  margin-bottom: 3rem;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255);
  opacity: 0.9;
}

.hidden {
  visibility: hidden;
}

/*   --------------------      texto   \/   -------------------------------- */

.scrollAnimation {
  view-timeline-name: --reveal;
  animation-name: show;
  animation-fill-mode: both;
  animation-timeline: --reveal;
}

.blur-in-expand {
  animation: blur-in-expand 0.5s linear both;
}
@keyframes blur-in-expand {
  0% {
    transform: scale(0);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0.8;
    scale: 70%;
  }
  30% {
    opacity: 1;
    scale: 100%;
  }
  70% {
    opacity: 1;
    scale: 100%;
  }
  100% {
    opacity: 0;
    scale: 100%;
  }
}

@media (width <= 768px) {
  .personalPresentation {
    margin-top: 9rem;
    margin-bottom: 9rem;
  }
}
@media (width <= 450px) {
  .scrollAnimation {
    animation-name: none;
  }
  .personalPresentation {
    margin-top: 12rem;
    margin-bottom: 6rem;
    /* margin-left: 40px; */
  }
}

/*   --------------------      texto   /\   -------------------------------- */

.letsTalk {
  font-size: 40px !important;
  /* font-weight: 400; */
  letter-spacing: 1px;
  margin-bottom: 3rem !important;
  color: var(--color1);
}

/*   --------------------      boton   \/   -------------------------------- */

.email-button {
  /* background: linear-gradient(to right, var(--color4), var(--color5));  */
  background-color: var(--color1);
  color: var(--white) !important;
  padding: 14px 5vw;
  text-decoration: none;
  border-radius: 30px 2px;
  display: inline;
  margin-top: 5rem;
  font-weight: bold;
  transition: 0.3s ease;
  /* border: var(--white) 1px solid; */
}

.email-button:hover {
  transition: "background-color color 0.3s ease";
  font-weight: bolder !important;

  background-color: var(--color1);
  color: var(--white) !important;
}
/*   --------------------      boton   /\   -------------------------------- */
