@media screen and (max-width: 480px) {
  .section3 {
    margin-top: 0;
  }
}

h3 {
  transform: rotate(4deg);
  color: var(--white) !important;
}
#projects {
  background-color: var(--color1);
  background: linear-gradient(to right, var(--color2), var(--color1));

  width: 99vw;
  border-radius: 30px 2px;
}
.section_projects {
  padding-top: 7rem;
  position: relative;
  transform: rotate(-4deg);
  border-radius: 10px;
}

.sliderContainer {
  transform: rotate(4deg);

  position: relative;
  margin: 8rem 10px 8rem 10px; 
  width: 100%; 
  height: 600px; 
  display: flex; 
  justify-content: center; 
}

.sliderDiv {
  width: 15%; /* Añadido: ancho del 10% */
  opacity: 1;
  height: 100%; /* Añadido: altura del 100% */
  object-fit: cover; /* Añadido: ajuste de objeto */
  border: 1px solid var(--color1);
  transition: all ease-in-out 0.5s; /* Añadido: transición de 0.5 segundos */
}

.sliderDiv img {
  object-fit: cover; /* Añadido: ajuste de objeto */
  width: 100%;
  height: 100%;
  opacity: 0.97;
  border-radius: 3px; /* Añadido: radio de borde de 10px */
}

.sliderDiv:hover {
  width: 30%;
  opacity: 1;
  border: var(--white) 10px 2px 3px 10px solid;
}

@media (width <= 768px) {
  .sliderDiv {
    width: 80%;
    height: 200px;
    margin-top: 20px;
    opacity: 1;
    border-radius: 2px;
  }
  .sliderContainer {
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
  }
  .sliderDiv:hover {
    width: 82%;
  }
}

@media (768px <= width <= 960px) {
  .sliderDiv {
    width: 19%;
  }
}
