/* ------------------          expertiseFlexItems    >>>      ------------------- */

.expertiseFlexItems_ai {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
  }
  
  .expertiseFlexItems_ai p {
      font-size: 18px !important;
      line-height: 160%;
      color: var(--color1);
      letter-spacing: 1.5px;
    }
    .expertiseFlexItems_ai li {
      font-size: 13px !important;
      line-height: 160%;
      color: var(--color1);
      letter-spacing: 1.1px;
      padding: 20px;
      border-radius: 1px 10px;
      margin-top: 10px;
      /* border: 1px solid var(--color1); */
      background-color: #56687028;
      background-color: #f1e2607d;

    }
  
  /* ------------------      <<<     expertiseFlexItems          --------------------- */