.seccciones {
  transform: rotate(-3deg);
  font-size: 3rem;
  color: var(--white);
  border-radius: 10px;
  padding: 35px;
  padding-left: 45px;
  padding-top: 7rem;
  padding-bottom: 5rem;
  border-radius: 30px 2px;
  height: 20rem;
  margin-bottom: 5rem;
  align-content: center;
  line-height: 4rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 7vw !important;
}
/* farming section */
.bkc1 {
  background-image: url("/ai9.jpg");
  background-size: cover;
  background-position: center;
}
/*ai section  */
.bkc2 {
  background-image: url("/ai1.jpg");
  background-size: cover;
  background-position: center;
}
/* dev section */
.bkc3 {
  background-image: url("/ai7.jpg");
  background-size: cover;
  background-position: center;
}

.bkc1_subtitle {
  /* background: linear-gradient(to right, black, rgb(0, 34, 6),rgb(0, 85, 74),rgb(0, 85, 74)); */
  background: linear-gradient(to right, #020331 60%, #05317ebf 100%);
}
.bkc2_subtitle {
  background: linear-gradient(
    to right,
    #001415 0%,
    #001415 60%,
    #002a2dd4 100%
  );
}
.bkc3_subtitle {
  background: linear-gradient(
    to right,
    #020331,
    #062939,
    #0b3c53,
    var(--color2)
  );
}

.section3 {
  margin-top: 150px;
}

p {
  font-size: 20px !important;
}

.titles {
  rotate: 3deg;
}
/* ------------------          expertiseFlexItems    >>>      ------------------- */

.expertiseFlexItems {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
}

.expertiseFlexItems p {
  font-size: 18px !important;
  line-height: 160%;
  color: var(--color1);
  letter-spacing: 1.5px;
}
.expertiseFlexItems li {
  font-size: 13px !important;
  line-height: 160%;
  color: var(--color1);
  letter-spacing: 1.1px;
  padding: 20px;
  border-radius: 1px 10px;
  margin-top: 10px;
}

/* ------------------      <<<     expertiseFlexItems          --------------------- */

/* ------------------          expertiseFlexItems_sub    >>>      ------------------- */

.expertiseFlexItems_sub {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  margin-left: 30px;
}

.expertiseFlexItems_sub p {
  font-size: 12px !important;
  line-height: 100%;
  color: var(--color1);
  letter-spacing: 1.5px;
}
.expertiseFlexItems_sub li {
  font-size: 13px !important;
  line-height: 170%;
  color: var(--color1);
  letter-spacing: 1px;
  padding: 20px;
  border-radius: 1px 10px;
  margin-top: 10px;
  /* background-color: #f1e26086; */
}

/* ------------------      <<<     expertiseFlexItems_sub          --------------------- */

.h4_boton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list_title_div {
  color: var(--white);
  padding-left: 3rem;
  padding-right: 5rem;
  font-size: 20px;
  margin-bottom: 13px;
  border-radius: 2px 30px;
  flex-grow: 1;
}
.list_title_div h4 {
  font-weight: 300;
}

.impar {
  margin-top: 5vw;
}

/* -------------      efecto rotacion      ---------- */

.rotacion {
  display: flex;
  opacity: 0;
  animation: rotate-in 2s ease-in forwards;
  animation-timeline: view();
}
@keyframes rotate-in {
  0% {
    opacity: 0.6;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* -------------      efecto rotacion FIN      ---------- */

/* -------------      efecto expancion container      ---------- */

.content {
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.collapsed {
  max-height: 0;
  opacity: 0;
  padding: 0;
}

.expanded {
  opacity: 1;
}

.expandir {
  padding: 10px;
  margin-top: 8px;
  height: 16px;
  rotate: -90deg;
}
.contraer {
  padding: 10px;
  margin-top: 8px;
  height: 16px;
}
.cursor-pointer {
  cursor: pointer;
  z-index: 10;
}

/*   -----------------------------      Responsividad        -------------------------------- */

@media (width <= 768px) {
  .expertiseFlexContainer {
    justify-content: center;
    padding: 0 !important;
    margin: 0 !important;
    /* background-color: grey; */
  }
  .content_sub_container {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
  .expertiseFlexItems {
    justify-content: center;
    width: auto;
    /* background-color: red; */
    margin: 0 !important;
  }
  .rotacion {
    opacity: 1 !important;
    animation: none !important;
    animation-timeline: none !important;
  }
  .expertiseFlexItems li {
    font-size: 12px !important;
    letter-spacing: 0.9px;
    padding: 10px;
  }
}

@media (width <= 552px) {
  .expertiseFlexItems {
    width: 100% !important;
  }
  .list_title_div {
    padding-left: 1rem;
    padding-right: 2rem;
  }
  .titles {
    font-size: 43px;
  }
  .expertiseFlexItems li {
    font-size: 12px !important;
    letter-spacing: 0.7px;
    padding: 0 !important;
  }
}
@media (width <= 450px) {
  .rotacion {
    opacity: 1 !important;
    animation: none !important;
    animation-timeline: none !important;
  }
  .expertiseFlexContainer {
    margin: auto;
    width: 100%;
  }
  .titles {
    font-size: 33px;
  }
}
