@media screen and (max-width: 480px) {
  .section3 {
    margin-top: 0;
  }
}

h3 {
  /* transform: rotate(4deg); */
  color: white !important;
  font-size: 48px !important;
  font-weight: 300 !important;
}
#projects {
  margin-top: 12vw;
  background-color: var(--color1);
  /* background: linear-gradient(to bottom, #001a27, var(--color1)); */
  width: 99vw;
  border-radius: 30px 2px;
  border: #2a353b19 solid 1px;

  background-image: 
  linear-gradient(0deg, rgba(120, 110, 110, 0.163) 1px, transparent 1px),
  linear-gradient(90deg, rgba(120, 110, 110, 0.163) 1px, transparent 1px);
background-size: 60px 60px;
  
}
.section_projects {
  padding-top: 8rem;
  position: relative;
  border-radius: 10px;

  /* background-image: 
  linear-gradient(0deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
background-size: 60px 60px; */
}

.sliderContainer {
  position: relative;
  margin: 8rem 10px 8rem 10px;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;

  
}

.sliderDiv {
  width: 15%; 
  opacity: 1;
  height: 100%;
  object-fit: cover; 
  margin: 2px;
  transition: all ease-in-out 0.5s; 
}

.sliderDiv img {
  object-fit: cover; /* Añadido: ajuste de objeto */
  width: 100%;
  height: 100%;
  opacity: 0.97;
  border-radius: 3px; 
  border: solid 1px #ffffff;
}

.sliderDiv:hover {
  width: 30%;
  opacity: 1;
  /* border: #001a27 10px 2px 3px 10px solid; */
}

@media (width <= 768px) {
  .sliderDiv {
    width: 80%;
    height: 200px;
    margin-top: 20px;
    opacity: 1;
    border-radius: 2px;
  }
  .sliderContainer {
    /* margin-bottom: 120px; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
  }
  .sliderDiv:hover {
    width: 82%;
  }
  .section_projects {
    padding-top: 3rem;
  }
  h3 {
    margin-left: calc(15vw - 20px);
    /* transform: rotate(4deg); */
    font-size:34px !important ;
  }
}

@media (768px <= width <= 960px) {
  .sliderDiv {
    width: 19%;
  }
}
