---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Sebastian Prado </h1>
			<p class="hero__text">
				Fullstack Web developer
			</p>
			<p>Former agricultural engineer turned Full stack web
				developer..
				With 8 years of experience in improving agricultural
				processes, I bring an interesting perspective to full
				stack web development. My background has honed my problem-solving
				skills, attention to detail, and ability to
				optimize processes. Always
				learning new things..</p>
			<Boton href="/About.astro" texto="boton verde principal"/>
		</div>
    <img
		class="hero__img"
		src="/img/Seba imagen cv.png"
		alt="Imagen Seba cv "
		width="374"
    	height="384"
	/>
	</div>
</section>
