#skills {
  position: relative;
  display: flex;
  max-width: calc(var(--max-width) + 18.2rem);
  padding: 5.1rem;
  padding-top: 10rem;
  gap: 9.2rem;
  background: radial-gradient(circle, rgb(24, 35, 92) 21%, rgb(5, 12, 49) 84%);
}

#skills::before {
  content: ''; /* Required to display the pseudo-element */
  position: absolute; /* Position it absolutely within #skills */
  top: 0;
  left: 0;
  width: 100%;
  height: 30px; /* Set the height to cover the area you want */
  background: linear-gradient(to bottom, rgb(2, 2, 45) 0%, rgba(5, 3, 36, 0.04) 100%);
  pointer-events: none; /* Ensures it does not interfere with user interactions */
}

#skills::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(to bottom, rgb(5, 12, 49), rgb(4, 11, 49));
  pointer-events: none;
}
.contenedorSkills{
  border: solid salmon 3px;
}

#skills .text-content {
  
  max-width: 40%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.1rem;
}
.text-content{
  margin-right: 7rem;
}

@media screen and (max-width: 768px) {
  #skills {
    flex-direction: column-reverse;
  }
  #skills .text-content {
    max-width: 100%;
  }
  .text-content{
    align-items: center;
    justify-content: center;
    margin-right: 0 ;
  }
}

.inProcessLogos {
  display: flex;
  flex-direction: row;
  width: 30rem;
  justify-content: space-around;
}

#inProcess {
  position: relative;
  display: flex;
  max-width: calc(var(--max-width) + 18.2rem);
  padding: 5.1rem;
  gap: 9.2rem;
  background: radial-gradient(circle, rgb(24, 35, 87) 21%, rgb(4, 11, 49) 84%);
  margin-top: -2rem; /* Ajusta este valor para solapar las secciones */
}

#inProcess::before {
  content: '';
  position: absolute;
  top: -50px; /* Ajusta este valor para extender el gradiente hacia arriba */
  left: 0;
  width: 100%;
  height: calc(100% + 50px); /* Ajusta este valor para que coincida con el top */
  background: linear-gradient(to bottom, 
    rgb(5, 12, 49) 0%,
    rgb(24, 35, 87) 50%,
    rgba(24, 35, 87, 0.6) 100%
  );
  z-index: -1;
  pointer-events: none;
}

#inProcess .text-content {
  max-width: 40%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.1rem;
}
@media screen and (max-width: 768px) {
  #inProcess {
    flex-direction: column;
    gap: 1.1rem;
  }
  #inProcess .text-content {
    max-width: 100%;
  }
  .inProcessLogos {
    width: 100%;
    justify-content: space-around;
  }
}
