---
import './section1.css';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente tracking-in-contract">Sebastian Prado </h1>
			<p class="hero__text color__gradiente tracking-in-contract typed-out ">
				<p class="hero__text color__gradiente tracking-in-contract typed-out">
					&lt; Full-stack web developer/&gt;...
				  </p>
			</p>
			<div class="pepe ">
				<p class=" " >My dedication to programming and web design is reflected in the projects I completed during my studies, 
				such as creating an interactive website for a small local business, which enabled me to apply my practical knowledge 
				in a real-world setting. This experience also highlights my strong skills in React, JavaScript, and MySQL/ MongoDB. Always
				learning new things..</p>
			</div>
			
		</div>
    <img
		class="hero__img slide-left"
		src="/img/Seba imagen cv.png"
		alt="Imagen Seba cv "
		width="374"
    	height="384"
	/>
	</div>
</section>
