---
import About from '../components/About/About.astro';
import BlogHome from '../components/BlogHome.astro';
import { mainMenu } from '../components/data/menuData';
import Footer from '../components/Footer/Footer.astro';
import Header from '../components/header/Header.astro';
import Section1 from '../components/section1/Section1.astro';
import Portfolio from '../components/Portfolio.astro';
import Skills from '../components/skills/Skills.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sebastian Prado  | Fullstack Developer">
	<Header origin={mainMenu} />
	<main class="self-center w-full">
		<Section1 />
		<!-- <About /> -->
		<Portfolio />
		<Skills />
		<!-- <BlogHome /> -->
	</main>
	<Footer/>
</Layout>
