---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import './skills-on-terminal.css';
---

	<div >
		<div class="terminal__skills__container ">
			<TerminalIcon
				src="/assets/html2.svg"
				color="#CF6F14"
				name="HTML"
			/>
			<TerminalIcon
				src="/assets/css.svg"
				color="#00A3FF"
				name="CSS"
				/>
				<TerminalIcon
				src="/assets/javascript.svg"
				color="yellow"
				name="JavaScript"
				/>

			<TerminalIcon
			src="/assets/icons8-react.svg"
			color="#1B8585"
			name="React"
            />
			
			
				<TerminalIcon
				src="/assets/nodejs.svg"
				color="#19AD3F"
				name="NodeJs"
				/>
			<TerminalIcon
			src="/assets/npm2.svg"
			color="#792618"
			name="Npm"
			/>
			<TerminalIcon
			src="/assets/mysql2.svg"
			color="#0782C8"
			name="MySQL"
			/>
			<TerminalIcon
			src="/assets/mongodb2.svg"
			color="#37750C"
			name="MongoDB"
			/>
			<TerminalIcon
				src="/assets/Github.svg"
				color="#919999"
				name="GitHub"
			/>
			<TerminalIcon
				src="/assets/insomnia.svg"
				color="#36317B"
				name="Insomnia"
			/>
		</div>
	</div>
<!-- </Terminal> -->
