---
import Title from './atoms/Title.astro';
import { getPortafolioData} from "../components/data/portfolioData.js"
import Card from './card-portfolio/CardPortfolio.astro';
---

<section
	id="portafolio"
	class="flex flex-col w-full  justify-center items-center h-auto min-h-[100dvh]  "
>
	<div class="portfolio__container">
		<Title contenido="Portafoliooo" />
		<div class="portfolio__elements">
			{getPortafolioData.map((props) => <Card {...props} />)}
		</div>
	</div>
</section>

<style>
	#portafolio {
		padding-bottom: 30px;
  position: relative;
  background: rgb(2, 1, 19);
  background: linear-gradient(134deg, #dd050500 32%, rgb(7, 3, 40) 79%);

}

#portafolio::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(to bottom, rgba(8, 3, 50, 0.168) 79%, rgb(6, 6, 42) 90%);
  pointer-events: none; /* Ensures it does not interfere with user interactions */
}

.portfolio__container{
		margin-top: 10rem;
	}
	.portfolio__elements {
		max-width: var(--max-width);
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 4rem;
	}
</style>

<script>
	import { getIMGAverageColor } from '../utils/average-img-color/average-img-color';

	const $cards = document.querySelectorAll('.card__portfolio');
	$cards.forEach((card) => {
		const $container = card.querySelector<HTMLDivElement>(
			'.descripcion__container'
		);
		const $img = card.querySelector('img');
		if (!$img || !$container) return;

		const setBg = () => {
			const [rbgString] = getIMGAverageColor($img, 0.7);
			$container.style.background = rbgString;
		};
		setBg();
		$img.onload = setBg;
	});
</script>
