---
const { contenido, margin } = Astro.props;
const props = Astro.props;

---
<h2 class="color__gradiente mb-3" style={`margin-bottom:${margin}`}>Portfolio</h2>

<style>
  h2 {
    font-size: 5rem;
    font-weight: 350;
  }
</style>
